html {
  background-color: #090046;
}

body {
  margin: auto 0;
  font-family: arial;
}

.zone {
    cursor:pointer;
    color:#090046;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.services-text {
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.info-text {
  color: #FFD700;
  padding: 2rem;
  font-size: 20px;
  margin: 1.5rem;
}

.text-center {
  text-align: center;
}



.myButton {
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #003b82 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #003b82 5%, #599bb3 100%);
	background-color:#003b82;
}
.myButton:active {
	position:relative;
	top:1px;
}



/* NAV */
.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
}

li {
  padding: 20px;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

.push {
  margin-left: auto;
}

.profile-img {
  border-radius: 50%;
  margin: 4rem;
}
@media only screen and (max-width: 700px)
 {
  .main-nav {
    font-size: 0.5em;
    padding: 0;
  }
  .info-text  {
    display: none;
  }

.myButtonOne {
  margin-right: 4rem;
}
.myButtonTwo {
  margin-left: 4rem;
}

.c-container {
  height: 35vh;
}
}

/* COVER */

.c-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}


/* GRID */

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.box > img {
  width: 100%;
}

.box {
  background-color: #EBE7FF;
  padding: 10px;
  margin: 20px;
}

.cover {
  width: 30rem;
}

/* FOOTER */


.c-footer {
  text-align: center;
  background-color: black;
  color: #fff;
}




/***********************************************************************
 *  Dark Blue Background
 **********************************************************************/
.dark-blue{
  background-color: #090046 !important;
}

.dark-blue-text{
  color: #090046 !important;
}



/***********************************************************************
 *  Light Blue Background
 **********************************************************************/
.light-blue{
  background-color: #EBE7FF !important;
}

/***********************************************************************
 *  navbar color Blue Background
 **********************************************************************/
.c-nav-color{
  background-color: #090046 !important;
}

.c-nav-color a{
  color: #EBE7FF !important;
}


.dropdown-color{
  background-color: #BBB0FF !important;
}

.light-purple{
  background-color: #BBB0FF !important;
}

.dropdown-color a{
  color: #090046 !important;
}
